{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class="jumbotron bg-success">
    <h1 class="display-4">Welcome to Mail!</h1>
    <img src="{% static 'mail/img/maillogo.png' %}" alt="Mail logo">
    <p class="lead">Click on an inbox from the menu below to access it.</p>
    <hr class="my-4">
    <p class="lead">
        <button class="btn btn-sm btn-outline-light" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-light" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-light" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-light" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-light" href="{% url 'logout' %}">Log Out</a>
        <p class="float-right">You are logged in as <strong>{{ request.user.email }}</strong>.</p>
    </p>
    </div>
    <h2 class="float-left"></h2>
    <hr>
    <div id="emails-view">
        <div class="card text-center">
            <div class="card-header bg-success">
                <h3 id="inbox-header"></h3>
            </div>
            <div class="card-body">
                <h5 id="inbox-title" class="card-title"></h5>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">From</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody id="inbox-body">
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <div id="compose-view">
        <div class="card text-center mb-3">
            <div class="card-header bg-success">
                <h3>New Email</h3>
            </div>
            <div class="card-body bg-light">
                <h5 class="card-title">
                    Send a new e-mail here.
                </h5>
                <form id="compose-form">
                <div class="form-group">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-success mt-3 mb-2"/>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'mail/js/inbox.js' %}"></script>
{% endblock %}